@tailwind base;
@tailwind components;
@tailwind utilities;

a[href^="#"] {
    scroll-behavior: smooth;
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: #130f40;
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.carousel .slick-prev, .carousel .slick-next {
        padding: 10px;
        position: absolute;
        top: 50%;
        z-index: 1;
        cursor: pointer;
        zoom: 2;
    }

.carousel .slick-prev {
        left: -8px;
    }
.carousel .slick-next {
        right: 12px;
    }